@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


/* css variable */

:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #0652dd;
    --secondary-color: #ea2027;
    --line-hight: 1.7rem;
    --transition: 0.4s ease-in;
}

/* smooth scroll */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--transition);
}

body {
    font-family: "Roboto", sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.fist {
    color: var(--secondary-color);
}

.box {
    color: var(--primary-color);
}

.tv {
    color: var(--secondary-color);
}

nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.logo a {
    margin-left: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

.hamburger {
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    max-width: 1100px;
    height: 120vh;
    margin: 2rem auto -6rem;
    margin-top: -100px;
}

.intro-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro-text h3 {
    margin-bottom: 0.5rem;
}

.hero p {
    line-height: var(--line-hight);
}

.hear {
    color: var(--primary-color);
}

.connecting {
    color: var(--secondary-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #fff;
}

.red {
    background-color: var(--secondary-color);
    margin-right: 1.5rem;
}

.red:hover {
    background-color: #f1262d;
    color: #fff;
}

.blue {
    background-color: var(--primary-color);
}

.blue:hover {
    background-color: #095cf7;
    color: #fff;
}

iframe {
    max-width: 30rem;
    border-top: 40px groove var(--primary-color);
    border-bottom: 40px groove var(--primary-color);
    border-right: 28px solid var(--secondary-color);
    border-left: 28px solid var(--secondary-color);
}

.stand-1 {
    height: 90px;
    width: 6px;
    background-color: var(--primary-color);
    transform: rotate(40deg);
    position: relative;
    top: -16px;
    left: 200px;
}

.stand-2 {
    height: 90px;
    width: 6px;
    background-color: var(--secondary-color);
    transform: rotate(-40deg);
    position: relative;
    top: -105px;
    left: 255px;
}

.profile {
    min-height: 90vh;
}

.profile h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    font-weight: 500;
}

.conatinerProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile img {
    width: 500px;
    height: 650px;
    border-radius: 10%;
    box-shadow: 0 0 8px rgba(0, 1, 0, 5);
    margin-right: 10px;
}

.text-profile {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.description-box {
    height: 250px;
    width: 600px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.description-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.description-box p {
    padding: 15px;
    text-align: justify;
    /* rata kanan-kiri */
    line-height: 1.5;
    /* jarak antar baris */
    letter-spacing: 0.5px;
    /* jarak antar huruf */
    word-spacing: 2px;
    /* jarak antar kata */
}

.description-tv {
    height: 250px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.description-tv:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.description-tv p {
    padding: 15px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

.ourStars {
    min-height: 90vh;
}

.ourStars h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 2.5rem;
    font-weight: 500;
}

.card {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.cards {
    height: 420px;
    width: 280px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;

}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerCards {
    padding: 2px 16px;
    text-align: center;
    margin-top: 10px;
}

.cards img {
    width: 280px;
    height: 350px;
    align-items: center;
    border-radius: 5px;
}

.message {
    min-height: 50vh;
}

.message h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    font-weight: 500;
}

.formMessage {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.form {
    height: 60vh;
    width: 40%;
    margin-left: 100px;
}


.input-group {
    display: flex;
    margin-bottom: 1rem;
    width: 150%;
}

.label {
    flex: 1;
}

.textbox {
    flex: 3;
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e81616;
}

input[type="text"],
input[type="date"],
textarea {
    width: 50%;
    border: 2px solid lightgray;
    border-radius: .3rem;
    padding: .3rem;
}

.hasil {
    width: 50%;
    height: auto;

}

.hasil h2 {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 2.5rem;
    font-weight: 500;
}

.hasil p {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 500;
}

footer {
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #f1f1f1;
    text-align: center;
    padding: 2rem;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.forLabelCheckBox {
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.moon {
    color: #ffa502;
}

.sun {
    color: #ff4757;
}

.checkbox:checked+.forLabelCheckBox .switcher {
    transform: translateX(24px);
}

body.dark {
    background-color: #1e272e;
}

body.dark .bar {
    background-color: #fff;
}

body.dark p {
    color: #fff;
}

body.dark .hasil h2 {
    color: #fff;
}

body.dark h1,
h2,
h3,
h4 {
    color: #fff;
}

body.dark label {
    color: #fff;
}

body.dark nav {
    background-color: #1e272e;
    box-shadow: 2px 3px 2px #111010;
}

body.dark ul {
    background-color: #1e272e;
}

body.dark .name {
    color: var(--primary-color);
}

body.dark .role {
    color: var(--secondary-color);
}

body.dark footer {
    color: #fff;
    border-top: 1px solid #111010;
    box-shadow: 0px -2px 3px #111010;
}

body.dark .hamburger i {
    color: #fff;
}



@media screen and (max-width: 768px) {
    .logo {
        font-size: 1rem;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .hamburger {

        display: block;
        cursor: pointer;
    }

    .hamburger i {
        font-size: 2rem;
    }

    ul {
        display: none;
        background-color: #fff;
        flex-direction: column;
        position: fixed;
        right: 1px;
        top: 3rem;
        width: 100%;
        text-align: center;
    }

    ul.active {
        left: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 50px;
    }

    .intro-text {
        margin-bottom: 0;
    }

    .intro-text h1 {
        font-size: 1.5rem;
    }

    .intro-text .btn {
        font-size: 1rem;
    }

    .i-frame {
        margin-top: 50px;
    }

    .profile {
        margin-top: -210px;
    }

    .conatinerProfile {
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .conatinerProfile .image-profile img {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

    .conatinerProfile .text-profile {
        margin-top: 10px;

    }

    .conatinerProfile .text-profile .description-box {
        font-size: 18px;
        text-align: center;
        padding: 2px;
        margin-right: 15px;
        width: 400px;
        height: auto;
    }

    .conatinerProfile .text-profile .description-tv {
        font-size: 18px;
        text-align: center;
        padding: 2px;
        width: 400px;
        height: auto;

    }

    .card {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        margin-bottom: 25px;
    }

    .tagprofile {
        margin-bottom: 250px;
    }

    .formMessage {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

    }

    .form {
        margin-bottom: -200px;
        margin-right: 100px;
    }



    input[type="submit"] {
        width: 170%;
        height: 45px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #e81616;
    }

    input[type="text"],
    input[type="date"],
    textarea {
        width: 120%;
        border: 2px solid lightgray;
        border-radius: .3rem;
        padding: .3rem;
    }

    .hasil {
        margin-top: 30px;
        margin-left: 100px;
    }

    .hasil h2 {
        margin-top: 0;
        font-size: 20px;
        color: black;
    }

    .hasil p {
        font-size: 15px;
    }
}